services:
  node:
    build: .
    container_name: node
    restart: unless-stopped
    ports:
      - "${NODE_PORT}:${NODE_PORT}"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - DATABASE_URL=${DATABASE_URL}
    networks:
      - pg-network
    depends_on:
      - postgres

  postgres:
    image: pgvector/pgvector:pg18
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    networks:
      - pg-network
    volumes:
      - pgdata:/var/lib/postgresql

  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    ports:
      - "${ADMINER_PORT}:${ADMINER_PORT}"
    networks:
      - pg-network

networks:
  pg-network:
    driver: bridge

volumes:
  pgdata:
