services:
  backend:
    build: ./backend
    container_name: backend
    restart: unless-stopped
    ports:
      - "${NODE_PORT}:3000"
    volumes:
      - ./backend:/usr/src/backend
      - /usr/src/backend/node_modules
    env_file:
      - ./.env
      - ./backend/.env
    networks:
      - pg-network
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    container_name: frontend
    restart: unless-stopped
    ports:
      - "${VITE_REACT_PORT}:5173"
    volumes:
      - ./frontend:/usr/src/frontend
      - /usr/src/frontend/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    env_file:
      - ./.env
      - ./frontend/.env
    networks:
      - pg-network
    depends_on:
      - backend

  postgres:
    image: pgvector/pgvector:pg18
    container_name: postgres
    restart: unless-stopped
    env_file:
      - ./.env
      - ./backend/.env
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - pg-network
    volumes:
      - pgdata:/var/lib/postgresql

  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    ports:
      - "${ADMINER_PORT}:8080"
    networks:
      - pg-network

networks:
  pg-network:
    driver: bridge

volumes:
  pgdata:
